.sports-menu {
  width: 100vw; /* full viewport width */
  margin-left: calc(-50vw + 50%); /* make sure it spans full width even if inside container */
  // background: linear-gradient(90deg, #eaeaea, #c9c8c8);
    background: linear-gradient(90deg, #0d0d0d, #1e1e1e);
  flex-direction: column;
  padding: 0.8rem 2rem;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #222;
  box-sizing: border-box;
}

.sports-toggle-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.6rem;
  width: 100%;
}

.sport-button {
  position: relative;
  color: #eaeaea;
  background: #1e1e1e;
  border: 1px solid #333;
  width: 140px;
  height: 38px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 0.25s ease;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  transform: skew(-15deg);
  border-radius: 4px;
  text-transform: none;

  span,
  mat-icon, i {
    transform: skew(15deg);
  }

  mat-icon , i{
    font-size: 18px;
    margin-right: 6px;
    color: #00bfa5;
  }

  &:hover {
    background: rgba(0, 191, 165, 0.15);
    border-color: #00bfa5;
  }

  &.active {
    background: #00bfa5;
    color: #121212;
    border-color: #00bfa5;

    mat-icon , i {
      color: #121212;
    }
  }
}
@media (max-width: 768px) {

  .show-more-btn {
    display: inline-flex;
    align-items: center;
    gap: 4px;

    margin-bottom: 0.6rem;
    padding: 2px 6px;

    background: transparent;
    border: none;
    box-shadow: none;

    color: #00bfa5;
    font-size: 0.75rem;
    font-weight: 500;

    cursor: pointer;

    mat-icon, i {
      font-size: 18px;
      line-height: 1;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .sports-toggle-group {
    justify-content: center;
  }

  .sport-button {
    width: 100%;
    max-width: 150px;
    height: 40px;
    font-size: 0.85rem;
    transform: none;

    span,
    mat-icon, i {
      transform: none;
    }
  }
}


