<div class="sports-menu">

  <!-- MOBILE SHOW MORE -->
   @if(isMobile && sports.length > mobileLimit){
     <button
       class="show-more-btn"
       (click)="showAllMobile = !showAllMobile"
     >
       <mat-icon>
         {{ showAllMobile ? 'expand_less' : 'expand_more' }}
       </mat-icon>
       @if(showAllMobile){
        {{ 'showless' | translate }}
       }
       @if(!showAllMobile){
        {{ 'showmoresports' | translate }}
       }
     </button>
   }

  <div class="sports-toggle-group">
    @for (sport of visibleSports; track sport.name) {
      <button
        mat-flat-button
        (click)="selectSport(sport.name)"
        [ngClass]="{ active: isSelected(sport.name) }"
        class="sport-button"
      >
        <mat-icon>{{ sport.icon }}</mat-icon>
        <span>{{ sport.name | translate}}</span>
      </button>
    }
  </div>

</div>
