<div class="dialog-shell">

  <h2 class="dialog-title">{{"registeryourtournament" | translate}}</h2>

  <div class="dialog-body">
    <mat-form-field appearance="outline">
      <mat-label>{{"event"| translate}}</mat-label>
      <input matInput [(ngModel)]="model.name" name="name" required />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{"sport" | translate}}</mat-label>
      <mat-select [(ngModel)]="model.sport" name="sport" required>
        <mat-option *ngFor="let s of sports" [value]="s">{{ s }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{"discipline" | translate}}</mat-label>
      <input matInput [(ngModel)]="model.discipline" name="discipline"  required/>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{"startdate" | translate}}</mat-label>

      <input
        matInput
        [matDatepicker]="picker"
        [(ngModel)]="model.startDate"
        name="startDate"
        required
        readonly
      />

      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{"location" | translate}}</mat-label>
      <input matInput [(ngModel)]="model.location" name="location" required />
    </mat-form-field>

   <mat-form-field appearance="outline">
  <mat-label>{{ "registration" | translate }}</mat-label>
  <input
    matInput
    [matDatepicker]="regPicker"
    [(ngModel)]="model.registration"
    name="registration"
  />
  <mat-datepicker-toggle matIconSuffix [for]="regPicker"></mat-datepicker-toggle>
  <mat-datepicker #regPicker></mat-datepicker>
</mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{"fee" | translate}}</mat-label>
      <input matInput type="text" [(ngModel)]="model.fee" name="fee" required />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{"website" | translate}}</mat-label>
      <input matInput [(ngModel)]="model.website" name="website" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{"description" | translate}}</mat-label>
      <textarea matInput rows="3" [(ngModel)]="model.description" name="description"  required></textarea>
    </mat-form-field>
  </div>

  <div class="dialog-footer">
    <button mat-raised-button color="primary" (click)="send()" >
      @if(sending){
      {{ "sending" | translate}}
      }
      @if(!sending){
      {{ "send" | translate}}
      }
    </button>
    <button mat-button (click)="close()">{{"back" | translate}}</button>
  </div>

</div>
