<mat-toolbar color="primary" class="top-bar">
  <div>
   <img class="logo" src="assets/logo.svg" alt="Logo">
    
  </div>

  <div class="events-ticker" *ngIf="upcomingEvents.length">
    <div class="ticker-content">
      <div *ngFor="let event of upcomingEvents" class="event-item" (click)="openTournament(event)">
        <mat-icon>event</mat-icon>
        <span>
          {{ event.name }}
          — {{ event.location }}
          ({{ event.startDate | date:'dd.MM.yyyy'}})
        </span>
      </div>
    </div>
  </div>

  <!-- Register (translated) -->

<div class="desktop-actions">


  <button
  mat-raised-button
  color="accent"
  class="register-btn"
  (click)="openSelfRegistrationDialog()"
  >
  <mat-icon>how_to_reg</mat-icon>
  {{ 'register' | translate }}
</button>



  <!-- Language toggle -->
  <button
  mat-stroked-button
  class="lang-btn"
  type="button"
  (click)="toggleLang()"
  >
  <mat-icon>language</mat-icon>
  {{ currentLang === 'mk' ? 'EN' : 'MK' }}
</button>
</div>

<button
    mat-icon-button
    class="mobile-menu-btn"
    [matMenuTriggerFor]="mobileMenu">
    <mat-icon>menu</mat-icon>
  </button>

</mat-toolbar>


<!-- Mobile dropdown -->
<mat-menu #mobileMenu="matMenu">

  <button mat-menu-item (click)="openSelfRegistrationDialog()">
    <mat-icon>how_to_reg</mat-icon>
    {{ 'register' | translate }}
  </button>

  <button mat-menu-item (click)="toggleLang()">
    <mat-icon>language</mat-icon>
    {{ currentLang === 'mk' ? 'EN' : 'MK' }}
  </button>

</mat-menu>