<mat-toolbar color="primary" class="top-bar">
  <div class="logo-section">
    <mat-icon>sports_soccer</mat-icon>
    <span class="app-title">Turniri.mk</span>
  </div>
 @if(upcomingEvents.length){
   <div class="events-ticker">
     <div class="ticker-content">
       <div *ngFor="let event of upcomingEvents" class="event-item" (click)="openTournament(event)">
         <mat-icon>event</mat-icon>
         <span>
           {{ event.name }}
           — {{ event.location }}
           ({{ event.startDate }})
         </span>
       </div>
     </div>
   </div>

 }

<button
  mat-icon-button
  class="register-btn"
  aria-label="Register tournament"
  (click)="openSelfRegistrationDialog()"
>
  Register
</button>
</mat-toolbar>
