<!-- <mat-card class="sidebar-card">
  <div class="calendar-wrap">
    <full-calendar class="fc-dark" [options]="calendarOptions"></full-calendar>
  </div>
</mat-card> -->


<mat-card class="sidebar-card">
  <h3>{{'filterbylocation' | translate}}</h3>

  <mat-form-field appearance="outline" class="sidebar-field">
    <mat-label>{{'location' | translate}}</mat-label>
    <input
      matInput
      placeholder="{{'entercityorregion' | translate}}"
      [(ngModel)]="location"
    />
    <mat-icon matSuffix>place</mat-icon>
  </mat-form-field>

<button mat-flat-button color="primary" class="search-button" (click)="onSearch()" [disabled]="loading">
  <mat-icon>search</mat-icon>
  @if (loading) {
    {{ 'searching' | translate }}
  }
  @if(!loading) {
    {{ 'search' | translate }}

  }
</button>

  <div class="divider"></div>

<mat-nav-list class="event-list">
  <h4>{{'eventsnearby' | translate}}</h4>

  @if (status === 'idle') {
    <div class="empty-hint">
      {{'searchcitytoseenearbytournaments' | translate}}
    </div>
  }

  @if (status === 'loading') {
    <div class="empty-hint loader-row">
      <mat-progress-spinner diameter="22" mode="indeterminate"></mat-progress-spinner>
      <span>{{'searchinglocation' | translate}}</span>
    </div>
  }

  @if (status === 'not-found') {
    <div class="empty-hint">
      {{'locationnotfound' | translate}}
    </div>
  }

  @if (status === 'no-coords') {
    <div class="empty-hint">
      {{'nolocationdata' | translate}}
    </div>
  }
  @if (status === 'no-nearby') {
  <div class="empty-hint">
    {{ 'nonearbyeventswithin50km' | translate }}
  </div>
}

  @if (status === 'ok') {
    @for (t of nearby; track t.id ?? t.name) {
      <a class="event-item" mat-list-item (click)="openTournamentDialog(t)">
        <span matLine>{{ t.name }}</span>
        <span matLine class="secondary">
          {{ t.location }} • {{ t.sport }}
        </span>
      </a>
    }
  }
</mat-nav-list>


</mat-card>
