.events-grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/* TOP TOOLBAR */
.toolbar-row {
  width: 100%;
  max-width: 1000px;
  display: flex;
  align-items: stretch;
  gap: 12px;
}

.search-field {
  flex: 4;
  width: 100%;

  mat-label {
    color: #bfbfbf;
  }

  input {
    color: #eaeaea;
  }
}

.filter-btn {
  flex: 1;
  height: 56px;
  white-space: nowrap;
  border-color: #333 !important;
  color: #eaeaea !important;

  display: flex;
  align-items: center;
  justify-content: center;

  mat-icon {
    margin-right: 6px;
  }
}

/* CARD */
.events-table-card {
  width: 100%;
  max-width: 1000px;
  background: #121212;
  border: 1px solid #222;
  border-radius: 16px;
  padding: 0.5rem;
}

/* SCROLL WRAPPER */
.table-scroll {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

/* TABLE */
table {
  width: 100%;
  border-spacing: 0;

  th {
    color: #00bfa5;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.8rem;
    white-space: nowrap;
  }

  td {
    color: #eaeaea;
    font-size: 0.9rem;
    white-space: nowrap;
  }
}

/* STATUS */
.status {
  padding: 4px 8px;
  border-radius: 6px;
  font-weight: 500;

  &.open {
    color: #00bfa5;
  }

  &.closed {
    color: #ff5252;
  }

  &.notOpenYet {
    color: #ff820c;
  }
}

/* ROW */
.clickable-row {
  height: 40px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  background-color: #1b1b1b;
  &:hover {
    background-color: rgba(255, 255, 255, 0.08);
  }
}

/* =========================
   TABLET / SMALL DESKTOP
   ========================= */
@media (max-width: 768px) {
  .events-grid-container {
    padding: 1rem 0.5rem;
  }

  .toolbar-row {
    flex-direction: column;
    max-width: 100%;
  }

  .search-field {
    flex: unset;
    width: 100%;
    max-width: 100%;
  }

  .filter-btn {
    width: 100%;
    flex: unset;
  }

  .events-table-card {
    padding: 0;
    border-radius: 12px;
  }

  table {
    min-width: 900px;
  }

  th,
  td {
    padding: 8px 12px;
    font-size: 0.85rem;
  }

  th {
    font-size: 0.75rem;
  }

  // .table-scroll::after {
  //   content: '← swipe →';
  //   display: block;
  //   text-align: center;
  //   font-size: 0.75rem;
  //   color: #777;
  //   padding: 0.25rem 0;
  // }
}

::ng-deep .mat-mdc-menu-panel {
  background-color: #1e1e1e !important;
}
/* Horizontal scrollbar for table */
.table-scroll::-webkit-scrollbar {
  height: 6px; // horizontal uses height instead of width
}

.table-scroll::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.03);
  border-radius: 10px;
}

.table-scroll::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #1f1f1f, #2a2a2a);
  border-radius: 10px;
}

.table-scroll::-webkit-scrollbar-thumb:hover {
  background: #00bfa5; // optional accent on hover
}
::ng-deep .mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid #0e0e0e !important;
}